.table-head {
    width: 55px;
}

.button-add-row {
    margin-top: 40px;
    margin-bottom: 0px;
    width: 86px;
}

.quarter{
    width: 55px;
}

input[type='number'] {
    padding-left: 0;
    padding-right: 0;
    max-width: 60px;
    text-align: end;
}

table td {
    padding-left: 4px;
    padding-right: 4px;
}
